body {
    background-image: url('../Imagini/bg2.jpg');
    font-weight: bold;
    color: firebrick;
}
p{
    background-color: lightblue;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 50px;
}

#ImgPrinc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px;
}

.center {
    text-align: center;
}

figcaption {
    font-size: 40px;
}

nav {
    width: 100%;
    position: fixed;
}

ul.menu > li, ul.menu > li > ul.submenu > li {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

ul.menu > li {
    float: left;
    width: 20%;
}

ul.submenu > li {
    width: 100%;
}

    ul.menu > li > a, ul.menu > li > div, ul.submenu > li > a {
        display: block;
        height: 100%;
        text-decoration: none;
        color: black;
    }

ul.menu > li:nth-of-type(even) a, ul.menu > li:nth-of-type(even) div {
    background-color: lightcoral;
    transition: background 2s linear;
}

ul.menu > li:nth-of-type(odd) a, ul.menu > li:nth-of-type(odd) div {
    background: yellow;
    transition: background 2s linear;
}

ul.menu > li > ul.submenu {
    position: relative;
    top: 0px;
}

ul.menu > li > a:hover, ul.submenu > li > a:hover {
    background: green;
}

ul.menu > li:hover {
    overflow: visible;
}

ul.menu {
    padding: 0px;
}

.img {
    height: 200px;
    width: 200px;
    background-color: lightblue;
}
p{
    font-size: 20px;
}
