
#gr{
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
}
#gr table{
    grid-area:1/1/2/2;
}
#gr img{
    grid-area:1/2/2/3;
}


th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    empty-cells: show;
    font-size: 2rem;
}

#Istorie{
    display:flex;
    flex-direction: column;
}
#Istorie article{
    border:5px solid red;
}
#Istorie article p{
    padding: 15px;
}
#bg {
    opacity: 0.8;
}
#minge{
    width:10%;
}
@media screen and (max-width:1293px) {
    #gr img {
        grid-area: 2/1/2/3;
        width:70%;
    }
}
@media screen and (max-width:700px){
    thead{
        display:none;
    }
    table,tr,td{
        display:block;
        font-size:30px;
    }
    tr{
        padding:20px;
    }
    td:nth-child(1)::before {
        content: "Record: ";
    }

        td:nth-child(2)::before {
            content: "Nume: ";
        }

    td:nth-child(3)::before {
        content: "Cantitate: ";
    }
}